<HTML>

<body style="font-family: Tahoma,Arial, Helvetica, Sans Serif;">

<p > Number of marks <TMPL_VAR NAME=NUMMARKS>. </p>

<p style="color:red;"> Missing Marks <TMPL_VAR NAME=MISMARKS>.   </p>

</BODY>

</HTML>