<!DOCTYPE html>
<html>
        <head>
        <title>My Page</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
      
        <link rel="stylesheet" href="/mobile/1.2.0/jquery.mobile-1.2.0.min.css" />
        <script src="/jquery-1.8.2.min.js"></script>
        <script src="/mobile/1.2.0/jquery.mobile-1.2.0.min.js"></script>
        <script language="JavaScript">
       </script>
       <script type="text/javascript">

             var name;
             function num(name)
             {
                mainWindow.on_JS_Subject_change(name);
                //alert(mainWindow.on_JS_Subject_change());

              // $('name').trigger('expand');

                //return name;
             }
       </script>
</head>
<body>




<div data-role="page" style="font-size:small">

        <div data-role="header">
            <H3 style="font-size:small">Your Marks</H3>
        </div><!-- /header -->

        <div data-role="content">



 <TMPL_LOOP NAME=MARKTYPES>

    <div id="<TMPL_VAR NAME=NAME>" data-role="collapsible" data-filter="true">
    <h3  onclick="num('<TMPL_VAR NAME=NAME>')"> <TMPL_VAR NAME=NAME > </h3>
    <p> Number of marks <TMPL_VAR NAME=NUMMARKS>. </p>
    <p style="color:red;"> Missing Marks (Mark is 0 or empty) <TMPL_VAR NAME=MISMARKS>.   </p>
    
    
             <ul data-role="listview" data-inset="true" data-filter="true">
			<TMPL_LOOP allmarks>
							
							<li><TMPL_VAR NAME="stunumber"> : <TMPL_VAR NAME="onemark"></li>
					
			</TMPL_LOOP>
			</ul>
			
    </div>
  </TMPL_LOOP>

  </div><!-- /page -->

</body>
</html>
