BODY {
	MARGIN-TOP: 0px; SCROLLBAR-FACE-COLOR: #1e4e80; FONT-SIZE: 9pt; BACKGROUND-IMAGE: none; SCROLLBAR-HIGHLIGHT-COLOR: #000000; MARGIN-LEFT: 5px; SCROLLBAR-SHADOW-COLOR: white; SCROLLBAR-3DLIGHT-COLOR: navy; SCROLLBAR-ARROW-COLOR: white; SCROLLBAR-TRACK-COLOR: #4ea7dc; FONT-FAMILY: Arial, Helvetica, sans-serif; SCROLLBAR-DARKSHADOW-COLOR: navy; BACKGROUND-COLOR: #eff3ff
}
.framebody {
	SCROLLBAR-FACE-COLOR: #1e4e80; FONT-SIZE: 9pt; BACKGROUND-IMAGE: none; SCROLLBAR-HIGHLIGHT-COLOR: #000000; SCROLLBAR-SHADOW-COLOR: white; SCROLLBAR-3DLIGHT-COLOR: navy; SCROLLBAR-ARROW-COLOR: white; SCROLLBAR-TRACK-COLOR: #4ea7dc; FONT-FAMILY: Arial, Helvetica, sans-serif; SCROLLBAR-DARKSHADOW-COLOR: navy; BACKGROUND-COLOR: #eff3ff
}
A {
	FONT-SIZE: 9pt; COLOR: #5a7edc; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A:active {
	FONT-SIZE: 9pt; COLOR: #5a7edc; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A:link {
	FONT-SIZE: 9pt; COLOR: #5a7edc; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A:visited {
	FONT-SIZE: 9pt; COLOR: #5a7edc; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A:hover {
	FONT-SIZE: 9pt; COLOR: #5a7edc; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
DIV.mnu_frame {
	TEXT-ALIGN: left
}
TABLE.mnu_header {
	BACKGROUND-POSITION: left 50%; BACKGROUND-IMAGE: url(/itsimages/InsImg.gif); WIDTH: 100%; BACKGROUND-REPEAT: no-repeat; BACKGROUND-COLOR: transparent
}
TABLE.mnu_header_ire {
	WIDTH: 91%; BACKGROUND-COLOR: transparent
}
TD.mnu_header_ire {
	FONT-WEIGHT: bold; FONT-SIZE: 6pt; VERTICAL-ALIGN: top; WIDTH: 100%; COLOR: #000000; FONT-FAMILY: verdana, Geneva, Arial, Helvetica, sans-serif; TEXT-ALIGN: left
}
TD.mnu_header {
	FONT-WEIGHT: bold; FONT-SIZE: 6pt; VERTICAL-ALIGN: top; WIDTH: 100%; COLOR: #000000; FONT-FAMILY: verdana, Geneva, Arial, Helvetica, sans-serif; TEXT-ALIGN: right
}
TH.mnu_detail {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; VERTICAL-ALIGN: top; WIDTH: 100%; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #eff3ff; TEXT-ALIGN: left
}
DIV.mnu_image {
	LEFT: 0%; BOTTOM: 0%; POSITION: relative
}
.menuLvl0 {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: red; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.menuLvl0:active {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: red; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.menuLvl0:link {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: red; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.menuLvl0:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: red; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.menuLvl0:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: red; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.menuLvlM1 {
	FONT-SIZE: 8pt; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.menuLvlM1:active {
	FONT-SIZE: 8pt; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.menuLvlM1:link {
	FONT-SIZE: 8pt; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.menuLvlM1:visited {
	FONT-SIZE: 8pt; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.menuLvlM1:hover {
	FONT-SIZE: 8pt; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.menuLvlU1 {
	FONT-SIZE: 8pt; COLOR: #3333ff; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.menuLvlU1:active {
	FONT-SIZE: 8pt; COLOR: #3333ff; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.menuLvlU1:link {
	FONT-SIZE: 8pt; COLOR: #3333ff; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.menuLvlU1:visited {
	FONT-SIZE: 8pt; COLOR: #3333ff; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.menuLvlU1:hover {
	FONT-SIZE: 8pt; COLOR: #3333ff; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.menuLvlM2 {
	FONT-SIZE: 8pt; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.menuLvlM2:active {
	FONT-SIZE: 8pt; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.menuLvlM2:link {
	FONT-SIZE: 8pt; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.menuLvlM2:visited {
	FONT-SIZE: 8pt; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.menuLvlM2:hover {
	FONT-SIZE: 8pt; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.menuLvlU2 {
	FONT-SIZE: 8pt; COLOR: #3333ff; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.menuLvlU2:active {
	FONT-SIZE: 8pt; COLOR: #3333ff; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.menuLvlU2:link {
	FONT-SIZE: 8pt; COLOR: #3333ff; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.menuLvlU2:visited {
	FONT-SIZE: 8pt; COLOR: #3333ff; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.menuLvlU2:hover {
	FONT-SIZE: 8pt; COLOR: #3333ff; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.menuLvlM3 {
	FONT-SIZE: 8pt; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.menuLvlM3:active {
	FONT-SIZE: 8pt; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.menuLvlM3:link {
	FONT-SIZE: 8pt; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.menuLvlM3:visited {
	FONT-SIZE: 8pt; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.menuLvlM3:hover {
	FONT-SIZE: 8pt; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.menuLvlU3 {
	FONT-SIZE: 8pt; COLOR: #3333ff; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.menuLvlU3:active {
	FONT-SIZE: 8pt; COLOR: #3333ff; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.menuLvlU3:link {
	FONT-SIZE: 8pt; COLOR: #3333ff; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.menuLvlU3:visited {
	FONT-SIZE: 8pt; COLOR: #3333ff; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.menuLvlU3:hover {
	FONT-SIZE: 8pt; COLOR: #3333ff; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.menuLvlM4 {
	FONT-SIZE: 8pt; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.menuLvlM4:active {
	FONT-SIZE: 8pt; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.menuLvlM4:link {
	FONT-SIZE: 8pt; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.menuLvlM4:visited {
	FONT-SIZE: 8pt; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.menuLvlM4:hover {
	FONT-SIZE: 8pt; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.menuLvlU4 {
	FONT-SIZE: 8pt; COLOR: #3333ff; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.menuLvlU4:active {
	FONT-SIZE: 8pt; COLOR: #3333ff; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.menuLvlU4:link {
	FONT-SIZE: 8pt; COLOR: #3333ff; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.menuLvlU4:visited {
	FONT-SIZE: 8pt; COLOR: #3333ff; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.menuLvlU4:hover {
	FONT-SIZE: 8pt; COLOR: #3333ff; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.menuLvlM5 {
	FONT-SIZE: 8pt; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.menuLvlM5:active {
	FONT-SIZE: 8pt; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.menuLvlM5:link {
	FONT-SIZE: 8pt; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.menuLvlM5:visited {
	FONT-SIZE: 8pt; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.menuLvlM5:hover {
	FONT-SIZE: 8pt; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.menuLvlU5 {
	FONT-SIZE: 8pt; COLOR: #3333ff; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.menuLvlU5:active {
	FONT-SIZE: 8pt; COLOR: #3333ff; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.menuLvlU5:link {
	FONT-SIZE: 8pt; COLOR: #3333ff; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.menuLvlU5:visited {
	FONT-SIZE: 8pt; COLOR: #3333ff; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.menuLvlU5:hover {
	FONT-SIZE: 8pt; COLOR: #3333ff; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
