BODY {
	FONT-SIZE: 10pt; BACKGROUND-IMAGE: url(/itsimages/bg04.giff); MARGIN-LEFT: 10px; BACKGROUND-REPEAT: repeat; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #f4f4ec
}
IMG {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px
}
BODY.blankpage {
	BACKGROUND-IMAGE: none
}
.rowover {
	PADDING-RIGHT: 2px; VERTICAL-ALIGN: top; BACKGROUND-COLOR: #ece9d8
}
.mandatory_fld {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #ff0000
}
.framebody {
	MARGIN-TOP: 0px; FONT-SIZE: 10pt; MARGIN-LEFT: 10px; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #f4f4ec
}
BODY.accdet {
	MARGIN-TOP: 0px; FONT-SIZE: 8pt; MARGIN-LEFT: 10px; FONT-FAMILY: Courier; BACKGROUND-COLOR: #f4f4ec
}
A {
	FONT-SIZE: 10pt; COLOR: #5a7edc; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A:active {
	FONT-SIZE: 10pt; COLOR: #5a7edc; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A:link {
	FONT-SIZE: 10pt; COLOR: #5a7edc; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A:visited {
	FONT-SIZE: 10pt; COLOR: #5a7edc; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A:hover {
	FONT-SIZE: 10pt; COLOR: #5a7edc; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
DIV {
	FONT-SIZE: 10pt; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif
}
DIV.framediv {
	TEXT-ALIGN: left
}
DIV.acadrec {
	BORDER-RIGHT: black 1px solid; BORDER-TOP: black 1px solid; BORDER-LEFT: black 1px solid; BORDER-BOTTOM: black 1px solid
}
DIV.repheader {
	FONT-SIZE: 12pt; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-ALIGN: center
}
DIV.repbody {
	
}
DIV.repfooter {
	FONT-SIZE: 12pt; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-ALIGN: center
}
P {
	FONT-SIZE: 9pt; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif
}
TR {
	FONT-SIZE: 10pt; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif
}
TD {
	FONT-SIZE: 10pt; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif
}
TD.notetext {
	VERTICAL-ALIGN: top; TEXT-ALIGN: left
}
TD.ie_process_hdr {
	BORDER-RIGHT: black 1px solid; BORDER-TOP: black 1px solid; FONT-WEIGHT: bold; FONT-SIZE: 12pt; BORDER-LEFT: black 1px solid; COLOR: #0000ff; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #f7f8be; TEXT-ALIGN: center
}
TD.ie_process {
	VERTICAL-ALIGN: top
}
TD.ie_process_desc {
	
}
P.fineprint {
	FONT-SIZE: 7pt; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-ALIGN: left
}
LI {
	FONT-SIZE: 9pt; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif
}
OL {
	FONT-SIZE: 9pt; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif
}
UL {
	FONT-SIZE: 9pt; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif
}
H1 {
	FONT-WEIGHT: bold; FONT-SIZE: 14pt; COLOR: #5a7edc; FONT-FAMILY: Arial, Helvetica, sans-serif
}
H2 {
	FONT-WEIGHT: bold; FONT-SIZE: 14pt; COLOR: #6d717d; FONT-FAMILY: Arial, Helvetica, sans-serif
}
H3 {
	FONT-WEIGHT: bold; FONT-SIZE: 12pt; COLOR: #5a7edc; FONT-FAMILY: Arial, Helvetica, sans-serif
}
H4 {
	FONT-WEIGHT: bold; FONT-SIZE: 12pt; COLOR: #6d717d; FONT-FAMILY: Arial, Helvetica, sans-serif
}
H5 {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif
}
H6 {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif
}
HR {
	COLOR: #6d717d; HEIGHT: 1px
}
HR.mudsep {
	WIDTH: 80%; COLOR: black; HEIGHT: 5px
}
.customfooter {
	FONT-SIZE: 9pt; COLOR: #9c9e9c; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #ece9d8
}
.custfooterlink {
	FONT-WEIGHT: normal; COLOR: #9c9e9c; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.custfooterlink:unknown {
	FONT-WEIGHT: normal; COLOR: #9c9e9c; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.custfooterlink:active:unknown {
	FONT-WEIGHT: normal; COLOR: #9c9e9c; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.custfooterlink:link:unknown {
	FONT-WEIGHT: normal; COLOR: #9c9e9c; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.custfooterlink:visited:unknown {
	FONT-WEIGHT: normal; COLOR: #9c9e9c; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.custfooterlink:hover {
	FONT-WEIGHT: normal; COLOR: #9c9e9c; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
TD.pagehdr_labt {
	BORDER-TOP: black 1px solid; FONT-WEIGHT: bold; BORDER-LEFT: black 1px solid
}
TD.pagehdr_dett {
	BORDER-RIGHT: black 1px solid; BORDER-TOP: black 1px solid; FONT-WEIGHT: normal; BORDER-LEFT: black 1px solid
}
TD.pagehdr_labb {
	FONT-WEIGHT: bold; BORDER-LEFT: black 1px solid; BORDER-BOTTOM: black 1px solid
}
TD.pagehdr_detb {
	BORDER-RIGHT: black 1px solid; FONT-WEIGHT: normal; BORDER-LEFT: black 1px solid; BORDER-BOTTOM: black 1px solid
}
TD.head_lbrt {
	BORDER-RIGHT: black 1px solid; BORDER-TOP: black 1px solid; FONT-WEIGHT: bold; BORDER-LEFT: black 1px solid; BORDER-BOTTOM: black 1px solid
}
TD.head_brt {
	BORDER-RIGHT: black 1px solid; BORDER-TOP: black 1px solid; FONT-WEIGHT: bold; BORDER-BOTTOM: black 1px solid
}
TD.head_blt {
	BORDER-TOP: black 1px solid; FONT-WEIGHT: bold; BORDER-LEFT: black 1px solid; BORDER-BOTTOM: black 1px solid
}
TD.head_b {
	FONT-WEIGHT: bold; BORDER-BOTTOM: black 1px solid
}
TD.head_tr {
	BORDER-RIGHT: black 1px solid; BORDER-TOP: black 1px solid; FONT-WEIGHT: bold
}
TD.head_nolines {
	FONT-WEIGHT: bold
}
TD.cell_lbr {
	BORDER-RIGHT: black 1px solid; FONT-WEIGHT: normal; BORDER-LEFT: black 1px solid; BORDER-BOTTOM: black 1px solid
}
TD.cell_r {
	BORDER-RIGHT: black 1px solid; FONT-WEIGHT: normal
}
TD.cell_br {
	BORDER-RIGHT: black 1px solid; FONT-WEIGHT: normal; BORDER-BOTTOM: black 1px solid
}
TD.cell_lb {
	FONT-WEIGHT: normal; BORDER-LEFT: black 1px solid; BORDER-BOTTOM: black 1px solid
}
DIV.qualtext {
	BORDER-RIGHT: black 1px solid; BORDER-TOP: black 1px solid; FONT-WEIGHT: normal; FONT-SIZE: 10pt; BORDER-LEFT: black 1px solid; WIDTH: 75%; BORDER-BOTTOM: black 1px solid; FONT-FAMILY: Arial, helvetica; TEXT-ALIGN: left
}
TD.fra_inst {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; VERTICAL-ALIGN: middle; COLOR: #525252; FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #ece9d8; TEXT-ALIGN: left
}
TD.fra_date {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt; VERTICAL-ALIGN: middle; COLOR: #525252; FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #ece9d8; TEXT-ALIGN: right
}
TD.coltotl {
	PADDING-RIGHT: 2px; BORDER-TOP: black 1px solid; BORDER-LEFT: black 1px solid; BORDER-BOTTOM: black 1px solid
}
TD.coltotr {
	BORDER-RIGHT: black 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: black 1px solid; BORDER-LEFT: black 1px solid; BORDER-BOTTOM: black 1px solid
}
DIV.fra_footer {
	FONT-SIZE: 8pt; VERTICAL-ALIGN: top; COLOR: #9c9c9c; BOTTOM: 0%; FONT-FAMILY: Arial, Helvetica, sans-serif; POSITION: absolute; BACKGROUND-COLOR: #a6e092; TEXT-ALIGN: left
}
DIV.fra_main {
	TEXT-ALIGN: center
}
TH.fra_main {
	BACKGROUND-COLOR: #e1bb79
}
TD.fra_main {
	BACKGROUND-COLOR: #ece9d8
}
P.fra_main {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; VERTICAL-ALIGN: middle; COLOR: #525252; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-ALIGN: center
}
TABLE.rltable {
	BORDER-RIGHT: black 0px solid; BORDER-TOP: black 0px solid; VERTICAL-ALIGN: bottom; BORDER-LEFT: black 0px solid; WIDTH: 100%; BORDER-BOTTOM: black 0px solid
}
TR.rlheader {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; VERTICAL-ALIGN: bottom; FONT-FAMILY: Geneva, Helvetica, Arial, Verdana, sans-serif; BACKGROUND-COLOR: #ece9d8
}
TR.rlheader TD {
	PADDING-RIGHT: 2px; BORDER-BOTTOM: silver 1px solid; TEXT-ALIGN: left
}
TR.rlheader TH {
	PADDING-RIGHT: 2px; BORDER-BOTTOM: silver 1px solid; TEXT-ALIGN: left
}
TR.rlheader_top {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; VERTICAL-ALIGN: bottom; FONT-FAMILY: Geneva, Helvetica, Arial, Verdana, sans-serif; BACKGROUND-COLOR: #ece9d8
}
TR.rlheader_top TD {
	PADDING-RIGHT: 2px; BORDER-BOTTOM: medium none; TEXT-ALIGN: left
}
TR.rlheader_top TH {
	PADDING-RIGHT: 2px; BORDER-BOTTOM: medium none; TEXT-ALIGN: left
}
TD.colheader {
	BORDER-RIGHT: silver 1px solid; PADDING-RIGHT: 2px; FONT-WEIGHT: bold; FONT-SIZE: 10pt; VERTICAL-ALIGN: bottom; BORDER-BOTTOM: medium none; FONT-FAMILY: Geneva, Helvetica, Arial, Verdana, sans-serif; BACKGROUND-COLOR: #ece9d8; TEXT-ALIGN: left
}
TD.colheader_bottom {
	BORDER-RIGHT: silver 1px solid; PADDING-RIGHT: 2px; FONT-WEIGHT: bold; FONT-SIZE: 10pt; VERTICAL-ALIGN: bottom; BORDER-BOTTOM: silver 1px solid; FONT-FAMILY: Geneva, Helvetica, Arial, Verdana, sans-serif; BACKGROUND-COLOR: #ece9d8; TEXT-ALIGN: left
}
TD.rlerror {
	FONT-WEIGHT: bold; COLOR: red; FONT-STYLE: italic; FONT-FAMILY: Geneva, Helvetica, Arial, Verdana, sans-serif
}
TR.rldata {
	PADDING-RIGHT: 2px; FONT-SIZE: 10pt; VERTICAL-ALIGN: top; FONT-FAMILY: Geneva, Helvetica, Arial, Verdana, sans-serif
}
TR.rlctlbrk {
	VERTICAL-ALIGN: bottom; FONT-FAMILY: Geneva, Helvetica, Arial, Verdana, sans-serif; BACKGROUND-COLOR: #ece9d8
}
TABLE.datadisp {
	BORDER-RIGHT: black 0px solid; BORDER-TOP: black 0px solid; VERTICAL-ALIGN: bottom; BORDER-LEFT: black 0px solid; BORDER-BOTTOM: black 0px solid
}
TD.datahdr {
	PADDING-RIGHT: 2px; FONT-WEIGHT: bold; FONT-SIZE: 10pt; VERTICAL-ALIGN: middle; FONT-FAMILY: Geneva, Helvetica, Arial, Verdana, sans-serif; TEXT-ALIGN: right
}
TR.mrheader {
	PADDING-RIGHT: 2px; FONT-WEIGHT: bold; FONT-SIZE: 10pt; FONT-FAMILY: Geneva, Helvetica, Arial, Verdana, sans-serif; BACKGROUND-COLOR: #ece9d8
}
TR.mrheader TD {
	VERTICAL-ALIGN: bottom; BORDER-BOTTOM: silver 1px solid; TEXT-ALIGN: left
}
TR.mrheader TH {
	VERTICAL-ALIGN: bottom; BORDER-BOTTOM: silver 1px solid; TEXT-ALIGN: left
}
TABLE.mrdatadisp {
	PADDING-RIGHT: 2px; FONT-SIZE: 10pt; VERTICAL-ALIGN: top; FONT-FAMILY: Geneva, Helvetica, Arial, Verdana, sans-serif
}
TD.datacella {
	FONT-SIZE: 10pt; FONT-FAMILY: Geneva, Helvetica, Arial, Verdana, sans-serif; TEXT-ALIGN: left
}
TD.datacelln {
	FONT-SIZE: 10pt; FONT-FAMILY: Geneva, Helvetica, Arial, Verdana, sans-serif; TEXT-ALIGN: right
}
TD.datacellc {
	FONT-SIZE: 10pt; FONT-FAMILY: Geneva, Helvetica, Arial, Verdana, sans-serif; TEXT-ALIGN: center
}
TD.datacell {
	FONT-SIZE: 10pt; FONT-FAMILY: Geneva, Helvetica, Arial, Verdana, sans-serif
}
TD.mrerror {
	FONT-WEIGHT: bold; COLOR: red; FONT-STYLE: italic; FONT-FAMILY: Geneva, Helvetica, Arial, Verdana, sans-serif
}
TD.fra_header {
	BACKGROUND-IMAGE: url(/itsimages/headbck.gif); WIDTH: 100%; BACKGROUND-COLOR: white
}
TD.nodata {
	FONT-WEIGHT: bold; FONT-SIZE: 12pt; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #f4f4ec
}
P.sectionhdr {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #c0c0c0; TEXT-ALIGN: center
}
.sectionbrk {
	FONT-WEIGHT: bold; FONT-SIZE: 12pt; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #c0c0c0; TEXT-ALIGN: center
}
.sectionhdr {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #c0c0c0; TEXT-ALIGN: center
}
.subhead1 {
	FONT-WEIGHT: bold; FONT-SIZE: 12pt; COLOR: #5a7edc; FONT-FAMILY: Arial, Helvetica, sans-serif
}
TD.loginlabel {
	FONT-SIZE: 10pt; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-ALIGN: left
}
TD.loginbuttons {
	TEXT-ALIGN: center
}
TABLE.fra_table {
	BACKGROUND-IMAGE: url(/itsimages/headbck.gif); VERTICAL-ALIGN: bottom; BACKGROUND-COLOR: #a0baf3
}
TABLE.logintab {
	BACKGROUND-COLOR: #f4f4ec
}
TABLE.finreqdoc {
	WIDTH: 100%; HEIGHT: 7%; BACKGROUND-COLOR: #cedbff
}
TABLE.mi_userdet {
	FONT-SIZE: 10pt; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #ece9d8
}
TABLE.ctx_table {
	FONT-FAMILY: Arial, Helvetica, sans-serif
}
TD.ctx_colhdr {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; FONT-WEIGHT: bold; FONT-FAMILY: Arial, Helvetica, sans-serif
}
TD.ctx_coldata {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; FONT-FAMILY: Arial, Helvetica, sans-serif
}
TD.crm_userdet {
	FONT-SIZE: 8pt; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #ece9d8
}
TD.defined_itm_dark {
	BACKGROUND-COLOR: #ece9d8
}
TD.defined_itm_light {
	BACKGROUND-COLOR: #f4f4ec
}
INPUT.btnsubmit {
	FONT-SIZE: 10pt; FONT-FAMILY: Arial, Helvetica, sans-serif
}
TR.birlhdr {
	PADDING-RIGHT: 2px; FONT-SIZE: 12pt; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #e2e2e2
}
A.loginlinks:link {
	FONT-SIZE: 12pt; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
A.loginlinks:visited {
	FONT-SIZE: 12pt; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
A.loginlinks:active {
	FONT-SIZE: 12pt; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
A.loginlinks:hover {
	FONT-SIZE: 12pt; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
A.here_font:link {
	FONT-WEIGHT: bold; FONT-SIZE: 13pt; FONT-STYLE: italic; FONT-FAMILY: Arial, Helvetica, sans-serif
}
A.here_font:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 13pt; FONT-STYLE: italic; FONT-FAMILY: Arial, Helvetica, sans-serif
}
A.here_font:active {
	FONT-WEIGHT: bold; FONT-SIZE: 13pt; FONT-STYLE: italic; FONT-FAMILY: Arial, Helvetica, sans-serif
}
A.here_font:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 13pt; FONT-STYLE: italic; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
#login_login {
	DISPLAY: block
}
#login_top {
	BORDER-RIGHT: #000 2px solid; BORDER-TOP: #000 2px solid; DISPLAY: none; MARGIN-LEFT: 1px; VERTICAL-ALIGN: top; BORDER-LEFT: #000 2px solid; MARGIN-RIGHT: 1px; BORDER-BOTTOM: #000 2px solid
}
#login_bottom {
	DISPLAY: block; MARGIN-LEFT: 1px; VERTICAL-ALIGN: bottom; MARGIN-RIGHT: 1px
}
#login_left {
	DISPLAY: block; MARGIN-LEFT: 1px; VERTICAL-ALIGN: top; MARGIN-RIGHT: 1px
}
#login_left P {
	MARGIN-LEFT: 50px
}
#login_right {
	DISPLAY: block; MARGIN-LEFT: 1px; VERTICAL-ALIGN: top; MARGIN-RIGHT: 1px
}
#login_right P {
	MARGIN-LEFT: 50px
}
#fra_header {
	DISPLAY: block
}
FONT.fldhdr {
	FONT-WEIGHT: bold
}
SPAN.cycleblock {
	BACKGROUND-COLOR: #c9b405
}
SPAN.blockheader {
	FONT-WEIGHT: bold; FONT-SIZE: 14pt; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: yellow
}
.ErrorDiv {
	FONT-WEIGHT: bold; COLOR: red; FONT-STYLE: italic
}
.ISMA_error {
	FONT-WEIGHT: bold; COLOR: red; FONT-STYLE: italic
}
DIV.ISMA_ok {
	FONT-WEIGHT: bold; FONT-SIZE: 20pt; COLOR: green; FONT-STYLE: italic
}
TD.thisProc {
	FONT-WEIGHT: bold; COLOR: red; FONT-STYLE: italic
}
TD.nxtProc A {
	BORDER-RIGHT: buttonshadow 1px solid; BORDER-TOP: buttonhighlight 1px solid; MARGIN-TOP: 3px; FONT-WEIGHT: bold; VERTICAL-ALIGN: bottom; BORDER-LEFT: buttonshadow 1px solid; COLOR: red; BORDER-BOTTOM: buttonshadow 1px solid; FONT-STYLE: italic; BACKGROUND-COLOR: #c0c0c0; TEXT-ALIGN: right
}
TD.nxtProc A:active {
	BORDER-RIGHT: buttonshadow 1px solid; BORDER-TOP: buttonhighlight 1px solid; MARGIN-TOP: 3px; FONT-WEIGHT: bold; VERTICAL-ALIGN: bottom; BORDER-LEFT: buttonshadow 1px solid; COLOR: red; BORDER-BOTTOM: buttonshadow 1px solid; FONT-STYLE: italic; BACKGROUND-COLOR: #c0c0c0; TEXT-ALIGN: right
}
TD.nxtProc A:link {
	BORDER-RIGHT: buttonshadow 1px solid; BORDER-TOP: buttonhighlight 1px solid; MARGIN-TOP: 3px; FONT-WEIGHT: bold; VERTICAL-ALIGN: bottom; BORDER-LEFT: buttonshadow 1px solid; COLOR: red; BORDER-BOTTOM: buttonshadow 1px solid; FONT-STYLE: italic; BACKGROUND-COLOR: #c0c0c0; TEXT-ALIGN: right
}
TD.nxtProc A:visited {
	BORDER-RIGHT: buttonshadow 1px solid; BORDER-TOP: buttonhighlight 1px solid; MARGIN-TOP: 3px; FONT-WEIGHT: bold; VERTICAL-ALIGN: bottom; BORDER-LEFT: buttonshadow 1px solid; COLOR: red; BORDER-BOTTOM: buttonshadow 1px solid; FONT-STYLE: italic; BACKGROUND-COLOR: #c0c0c0; TEXT-ALIGN: right
}
TD.nxtProc A:hover {
	BORDER-RIGHT: buttonshadow 1px solid; BORDER-TOP: buttonhighlight 1px solid; MARGIN-TOP: 3px; FONT-WEIGHT: bold; VERTICAL-ALIGN: bottom; BORDER-LEFT: buttonshadow 1px solid; COLOR: red; BORDER-BOTTOM: buttonshadow 1px solid; FONT-STYLE: italic; BACKGROUND-COLOR: #c0c0c0; TEXT-ALIGN: right
}
DIV.lll {
	MARGIN-LEFT: 10px
}
THEAD.sortColumns TD {
	PADDING-RIGHT: 2px; FONT-WEIGHT: bold; FONT-SIZE: 10pt; VERTICAL-ALIGN: bottom; BORDER-BOTTOM: red 1px solid; FONT-FAMILY: Geneva, Helvetica, Arial, Verdana, sans-serif; BACKGROUND-COLOR: #ece9d8; TEXT-ALIGN: left
}
THEAD.sortColumns .arrow {
	PADDING-RIGHT: 0px; MARGIN-TOP: 1px; PADDING-LEFT: 0px; FONT-SIZE: 10px; MARGIN-BOTTOM: 2px; PADDING-BOTTOM: 2px; OVERFLOW: hidden; WIDTH: 10px; COLOR: black; PADDING-TOP: 0px; FONT-FAMILY: webdings; HEIGHT: 11px
}
TD.TestMarkColumn {
	BORDER-RIGHT: buttonshadow 1px solid; BORDER-TOP: buttonshadow 1px solid; PADDING-BOTTOM: 0px; BORDER-LEFT: buttonshadow 1px solid; PADDING-TOP: 0px; BORDER-BOTTOM: buttonshadow 1px solid
}
.divon {
	DISPLAY: block
}
.divoff {
	DISPLAY: none
}
.breadcrumb {
	FONT: bold 10px Verdana, Helvetica, sans-serif
}
.breadcrumb A.visited {
	PADDING-RIGHT: 10px; FONT-SIZE: 11px; BACKGROUND: url(/itsimages/breadcrumb.gif) no-repeat right center; COLOR: navy; TEXT-DECORATION: underline
}
.breadcrumb A.current {
	PADDING-RIGHT: 10px; FONT-SIZE: 11px; BACKGROUND: url(/itsimages/breadcrumb.gif) no-repeat right center; COLOR: navy
}
TR.de TD {
	BACKGROUND-COLOR: #fffff4
}
